* {
  margin : 0;
  padding : 0;
}

body {
  font-family : 'TmoneyRoundWindRegular';
  font-size : 14px;
  line-height : 1.5em;
  color : #765758;
  background : #fffef5;
  position : relative;
  min-width : 1320px;
}

a {
  text-decoration : none;
  color : rgb(30,30,30);
}

ul li {
  list-style: none;
}

/*web-font*/
@font-face {
  font-family: 'TmoneyRoundWindRegular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*공통*/
.title_box {
  width : 1320px;
  height : 130px;
  text-align: center;
}

.title {
  font-family: 'BMJUA';
  font-size : 32px;
  letter-spacing: 2px;
}

.button {
  width : 120px;
  height : 40px;
  border-radius: 50px;
  background : #acdbd1;
  color : #765758;
}

.button:hover {
  background : #fff;
  color : #268477;
  border : 1px dashed #268477;
  box-sizing: border-box;
}


/*header*/
#header_wrap {
  width : 100%;
  height : 160px;
  position : fixed;
  top : 0;
  left : 0;
  z-index : 10000;
  transition: all 0.5s;
}

#header {
  width : 1320px;
  margin : 0 auto;
}

.header_top {
  height : 50px;
  font-family: 'TmoneyRoundWindRegular';
  box-sizing: border-box;
}

#util {
  float : right;
  padding : 20px 0;
}

#util li {
  float : left;
  padding-left : 30px; 
}

#util li a {
  display: block;
  color : #765758;
  font-size : 12px;
  padding : 2px 5px;
}

.header_bottom {
  height : 110px;
  font-family: 'TmoneyRoundWindExtraBold';
  padding : 10px 0 19px;
  box-sizing: border-box;
}

.header_logo {
  float : left;
  padding-bottom : 50px;
}

#gnb {
  float : right;
  padding-top : 30px;
}

#gnb > li {
  float : left;
  padding-left : 97px;
}

#gnb > li > a {
  display: block;
  color : #765758;
  font-family: 'TmoneyRoundWindExtraBold';
  font-size : 18px;
  padding : 6px 15px 14px;
}

/*submenu*/
.submenu_wrap {
  width : 100%;
  overflow: hidden;
  position : absolute;
  top : 160px;
  left : 0;
  padding-bottom : 10px;
  background : rgba(255,255,255,0.9)
}

.submenu {
  width : 1320px;
  margin : 0 auto;
}

.submenu_right {
  float : right;
}

.submenu_right ul {
  float : left;
  text-align: center;
  width : 202px;
  box-sizing: border-box;
} 

.submenu_right ul li {
  padding-bottom : 10px;
}

.submenu_right ul li a {
  display: block;
  font-size : 15px;
  font-weight : bold;
  font-family: 'TmoneyRoundWindRegular';
  color : #765758;
  padding : 8px 0;
  width : 130px;
}


.brand_sub {
  padding-left : 40px;
}

.product_sub {
  padding-left : 50px;
}

.class_sub {
  padding-left : 60px;
}

.event_sub {
  padding-left : 50px;
}

.dodamkit_sub {
  padding-left : 65px;
}

.submenu_right ul li:hover a {
  color : #268477;
  text-decoration: underline;
}

/*header background color*/
#header_wrap.header-scrolled {
  background: rgba(255,255, 255, 1);
  transition: all 0.5s;
}


/*banner*/
#banner {
  height : 810px;
  margin : 0 auto;
}



/*section1_brand*/
#section1_wrap {
  height : 640px;
  margin : 150px 0;
}

#section1 {
  width : 1320px;
  margin : 0 auto;
}

.value {
  width : 390px;
  height : 510px;
  float : left;
  text-align: center;
}

.value2 {
  margin : 0 75px;
}

.value_img {
  width : 390px;
  height : 390px;
  box-sizing: border-box;
}

.value_img1 {
  background : url(../images/main/section1_background1.png) no-repeat center top;
  padding-top : 60px;
}

.value_img2 {
  background : url(../images/main/section1_background2.png) no-repeat center top;
  padding : 80px 0 0 20px;
}

.value_img3 {
  background : url(../images/main/section1_background3.png) no-repeat center top;
  padding : 70px 0 0 20px; 
}

.value_img img {
  transition: transform 1s;
}

.value a:hover img {transform: scale(1.2,1.2);}
/*value의 자식인 a에 hover를 하면 img 크기가 커짐*/


.value_text {
  width : 390px;
  height : 120px;
  font-size : 22px;
  color : rgb(30,30,30);
  font-weight : bold;
  padding-top : 50px;
  box-sizing: border-box;
}

.value_text a {
  padding : 30px 20px 10px;
}




/*section2_best*/
#section2_wrap {
  height : 1330px;
  margin-bottom : 150px;
}

#section2 {
  width : 1320px;
  margin: 0 auto;
}

.best_wrap {
  width : 1200px;
  height : 1200px;
  margin : 0 auto;
}

.best_wrap ul li {
  position: relative;
  float : left;
  width : 360px;
  height : 360px;
  border-radius: 50px;
  margin : 0 60px 60px 0;
}

.best_wrap ul li:nth-child(3) {
  margin-right : 0;
}

.best_wrap ul li:nth-child(6) {
  margin-right : 0;
}

.best_wrap ul li:nth-child(9) {
  margin-right : 0;
}



/*best_hover*/
.best_hoverbox {
  background : rgba(255,255,255,0.7);
  position : absolute;
  width : 100%;
  height : 100%;
  border-radius: 45px;
  top : 0;
  left : 0;
  text-align: center;
  padding-top : 130px;
  box-sizing: border-box;
  opacity: 0;
}

.best_hoverbox:hover {
  opacity : 1;
  transition : opacity 0.5s;
}

.md_title {
  font-weight : bold;
  font-size : 24px;
  color : #268477;
}

.md_price {
  font-size : 20px;
  padding-top : 50px;
  font-weight : bold;
}



/*section3_video*/
#section3_wrap {
  height : 600px;
  margin : 150px 0;
  box-sizing: border-box;
}

#section3 {
  width : 1320px;
  height : 600px;
  margin : 0 auto;
}


/*section4_event*/
#section4_wrap {
  height : 680px;
  margin-bottom : 150px;
}

#section4 {
  width : 1320px;
  height : 680px;
  margin : 0 auto;
  box-sizing: border-box;
  position : relative;
}

.event_box li {
  float : left;
}

.event_button {
  position : absolute;
  bottom : 0;
  left : 50%;
  margin-left : -60px;
  text-align: center;
  font-size : 17px;
  font-weight : bold;
  padding-top : 10px;
  box-sizing: border-box;
}


/*section4_event:hover*/
.event1_hover {
  position : absolute;
  width : 400px;
  height : 450px;
  top : 130px;
  left : 0px;
  z-index : 10;
  opacity: 0;
}

.event1_hover:hover {
  opacity: 1;
}

.event2 {
  margin : 0 60px;
}

.event2_hover {
  position : absolute;
  width : 400px;
  height : 450px;
  top : 130px;
  left : 460px;
  z-index : 10;
  opacity: 0;
}

.event2_hover:hover {
  opacity: 1;
}

.event3_hover {
  position : absolute;
  width : 400px;
  height : 450px;
  top : 130px;
  right : 0px;
  z-index : 10;
  opacity: 0;
}

.event3_hover:hover {
  opacity: 1;
}




/*section5_class*/
#section5_wrap {
  height : 730px;
  margin-bottom : 150px;
  background : url(../images/main/section5_class_background.jpg) no-repeat center top;
}

#section5 {
  width : 1320px;
  height : 570px;
  margin : 0 auto;
  position : relative;
}

.class_img {
  width : 550px;
  height : 550px;
  background : url(../images/main/section5_class.jpg);
  position : absolute;
  top : 130px;
  left : 50px;
}

.class_text {
  width : 530px;
  height : 270px;
  background : rgba(255,255,255,0.8);
  position : absolute;
  top : 130px;
  right : 50px;
  padding : 40px;
}

.class_text h3 {
  font-size : 32px;
}

.class_txt1 {
  padding : 15px 0;
}

.class_txt2 {
  font-size : 20px;
  padding-bottom : 15px;
  line-height: 1.5em;
}

.class_button {
  color : #765758;
  position : absolute;
  top : 500px;
  right : 545px;
  text-align: center;
  font-size : 17px;
  font-weight : bold;
  padding-top : 10px;
  box-sizing: border-box;
}


/*section6_sns*/
#section6_wrap {
 /* height : 450px; */
  background : #acdbd1;
  box-sizing: border-box;
  overflow: hidden;
}

.section6 {
  box-sizing: border-box;
}

.autobox {
 /* height : 376px;*/
}

.snsbox {
  width : 280px;
  /*height : 280px;*/
}

.sns_id {
  width : 300px;
  height : 74px;
  margin : 0 auto;
}

.sns_id p a {
  text-align: center;
  font-size : 30px;
  font-family: 'TmoneyRoundWindExtraBold';
  color : #765758;
}



/*footer*/
#footer_wrap {
  height : 300px;
  background : url(../images/main/footer_background.jpg);
}

#footer {
  width : 1320px;
  height : 300px;
  margin : 0 auto;
}

.footer_top {
  width : 1320px;
  height : 100px;
  box-sizing: border-box;
  padding : 30px 0;
  position : relative;
}

.footer_top > ul {
  position : absolute;
  top : 50%;
  left : 50%;
  margin-top : -15px;
  margin-left : -254.3px;
}

.footer_top li {
  float : left;
  padding : 0 10px;
  font-size : 14px;
  color : #268477;
  font-weight: bold;
}

.footer_top li a {
  display: block;
  padding : 5px 10px;
  font-size : 14px;
  color : #268477;
  font-weight: bold;
}

.footer_top li:nth-child(2) {
  padding : 5px 10px;
}

.footer_top li:nth-child(4) {
  padding : 5px 10px;
}

.footer_top li:nth-child(6) {
  padding : 5px 10px;
}

.footer_bottom {
  height : 200px;
  position : relative;
}

.footer_logo {
  position : absolute;
  top : 0;
  left : 0;
}

.footer_textbox {
  position : absolute;
  top : 0;
  left : 260px;
  font-size : 12px;
  color : #268477;
  font-weight : bold;
}

.footer_iconbox {
  position : absolute;
  top : 0;
  right : 0;
  width : 150px;
}

.footer_iconbox li {
  float : left;
  padding-left : 23px;
}

.footer_iconbox li a {
  display: block;
  padding : 0px;
}